<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="main-page">
        <h1>Books Management</h1>
        <a href="/books/add">Add new books</a>
        <a href="/dashboard" class="dashboard-btn">← Return to Dashboard</a>
        <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
            <% books.forEach(book =>{ %>
                  <tr>
                     <td><%= book.id %></td>
                     <td><%= book.title %></td>
                     <td><%= book.author %></td>
                     <td><%= book.quantity %></td>
                     <td>
                        <a href="/books/edit/<%= book.id %>">Edit</a>
                        <a href="/books/delete/<%= book.id %>">Delete</a>
                     </td>
                  </tr>
           <% }) %> 
        </table>
    </div>
    
</body>
</html>